:root {
    --primary: #E9C46A;
    --secondary: #F4A261;
    --tertiary: #E76F51;
    --light-dark: #2A9D8F;
    --dark: #264653;
    --border-radius: 0.5rem;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.45;
  }

  h2 a:visited {
    color: var(--tertiary);
  }

  h2 a {
    color: var(--primary);
  }

  header {
    margin-top: 50px;
  }

  main {
    margin: 20px auto;
    width: 94%;
  }
  
  a {
    text-decoration: none;
  }

  p {
    font-size: 1.2rem;
  }

  input {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

.card-header h2 {
    color: var(--primary);
  }